include README.md
include LICENSE
include requirements.txt
include twinshare_cli.py
recursive-include src *.py
recursive-include src *.json
recursive-include src *.yaml
recursive-include src *.yml
recursive-include src *.html
recursive-include src *.css
recursive-include src *.js
recursive-include src *.png
recursive-include src *.jpg
recursive-include src *.svg
